.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
references
Tools/yaagc-trace/yaagc-trace
Tools/yaagc-trace/*.o
